<div class="fullbg home-fullbg">
    <div class="container home">
        <div class="uk-text-center uk-position-center">
            <img src="./images/logo_light.png" />
            <div class="uk-margin">
                <iframe width="100%" height="500px" ng-src="{{currentVideo}}" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="uk-margin-large-top uk-grid uk-grid-match" data-uk-grid-match="{target:'.uk-card'}">
                <div class="col-md-4">
                    <div class="uk-card fadein uk-card-body">
                        <a ng-click="switchVideo('full')">Full System Demo</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="uk-card fadein uk-card-body">
                        <a ng-click="switchVideo('admin')">Admin App Demo</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="uk-card fadein uk-card-body">
                        <a ng-click="switchVideo('public')">Public App Demo</a>
                    </div>
                </div>
            </div>
            <div class="uk-margin-large-top uk-grid uk-grid-match" data-uk-grid-match="{target:'.uk-card'}">
                <div class="col-md-4">
                    <div class="uk-card fadein uk-card-body">
                        <a ng-click="switchVideo('desktop')">Desktop App Demo</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="uk-card fadein uk-card-body">
                        <a ng-click="switchVideo('shelter')">Shelter App Demo</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="uk-card fadein uk-card-body">
                        <a ng-click="switchVideo('android')">Android App Demo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
